{% extends 'base.html' %}
{% block conteudo %}
  <h1>Monster Hunter Wilds</h1><br><br>
  <h2>ÚLTIMAS NOVIDADES</h2>
  <div class="texto1"><a>No dia 24 de setembro de 2024, foi revelado um novo trailer do novo jogo da Capcom.<br>
    Tivemos muitas novidades, três novos monstros e até a data de lançamento, o jogo será lançado no dia 28/02/2025.<br>
  Nesse trailer nos foi mostrados o </a></div><br><br>

  <div class="imagem1"><img src="{{url_for('static',filename='rey-dau.png')}}"></div>

{% endblock %}