{% extends 'base.html' %}
{% block conteudo %}
  <h1>Monster Hunter Wilds</h1><br><br>
  <h2>ÚLTIMAS NOVIDADES</h2>
  <div id="texto1"><a>No dia 24 de setembro de 2024, foi revelado um novo trailer do novo jogo da Capcom.<br>
    Tivemos muitas novidades, três novos monstros e até a data de lançamento, o jogo será lançado no dia 28/02/2025.<br>
  Nesse trailer nos foi mostrado o monstro da capa chamado de "Arkveld". E ele está caçando os super predadores de cada bioma.<br>
    O Arkveld está rodiado de mistérios, no trailer, ele é chamado por dois apelidos, "Espectro branco", e "Espécie extinta".<br>
    Veja o novo trailer abaixo. Ou entre no site oficial do jogo</a></div>

  <div id="texto2"><h4>Caso queira acompanhar as novidades mais rápido, faça o cadastro para receber novidades assim que sair.</h4></div><br><br>

  <div id="trailer"><iframe width="1120" height="630" src="https://www.youtube.com/embed/0dJpKRWYNkE?si=MYQqtB2WTxZtKImo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe></div>

  <img id="img1" src="{{url_for('static',filename='arkveld.png')}}"><br><br>

  <div id="texto3"><a>Também foi revelado um novo "Leviathan" que também é o super predador do bioma da floresta,<br>
    no site oficial do jogo nos revela que esse novo monstro se chama "Uth Duna".<br>
  No site eles acrescentam que ele tem um vél de água em volta do corpo dele, e que isso proteje ele.<br>
  Ele aparece mais em periodos de chuva, e ele se adaptou a um ambiente com muita água.</a></div>

  <img id="img2" src="{{url_for('static',filename='uth-duna.png')}}"><br><br>

  <div id="texto4"><a>E claro, no final teve um pouco do Rey Dau, onde ele estava brigando com o Arkveld,<br>
  e durante a briga, o Rey Dau acabe fugindo do seu ninho que é onde seus poderes de raio são amplificados.</a></div>

  <img id="img3" src="{{url_for('static',filename='rey-dau.png')}}"><br><br>

  <div id="texto5"><a>Alguns dias depois na TGS(Tokyo Game Show) recebemos informações sobre uma nova game play,<br>
  onde eles mostraram dois monstro retornantes como o Congalala e o Yian Kut Ku, ambos já tinha expeculações do seus retornos.<br>
  No segundo trailer do jogo, tinha um personagem com uma pelúcia do Yian Kut Ku e outro personagem tinha a armadura do Congalala.<br>
  Caso você esteja esperando por novidades, teremos um evento em paris e a TGA que a Capcom confirmo que terá novidade do jogo.</a></div>
  

{% endblock %}